@font-face {
	font-family: 'Bank Sans';
	src: url('fonts/BankSansEFCY-BolCon.otf')
}

@font-face {
	font-family: 'Akrobat-Bold';
	src: url('fonts/akrobat-bold.woff');
}

body {
	text-size-adjust: none;
	line-height: 1;
	margin: 0;
	padding: 0;
	background-image: url("images/background.jpg");
	background-position: top center;
}

.wrapper {
	width: 1100px;
	height: auto;
	margin: 0 auto;
	padding: 0 35;
}

#header {
	line-height: 1.2;
	min-width: 1170px;
	width: 100%;
	height: 450px;
	background-image: url("images/header.png");
	background-position: top center;
	font-family: 'Bank Sans';
}

#header div {
	text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.7);
	width: 100%;
	text-align: center;
	color: white;
	position: relative;
}

#htop {
	font-size: 78.4px;
	top: 110px;
}

#hmiddle {
	font-size: 34.1px;
	top: 120px;
}

#hbottom {
	font-size: 23.3px;
	top: 121px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#hmiddle {
		font-size: 34.3px;
	}

	#hbottom {
		font-size: 23.3px;
	}
}
@-moz-document url-prefix() {
	#hmiddle {
		font-size: 34.2px;
	}
	#hbottom {
		font-size: 23.2px;
	}
}

#description .title {	
	text-shadow: 1px 3px 3px rgba(110, 108, 112, 0.3);
	color: #2e0955;
	font-size: 30px;
	font-family: 'Bank Sans';
	padding-top: 20px;
}

#description {
	line-height: 1.3;
	font-family: 'Akrobat-Bold';
	font-size: 24px;
	color: black;
}

#description div {
	padding-top: 8px;
}

#advantages {
	font-family: 'Bank Sans';
	text-align: center;
	color: #2e0e54;
	font-size: 0;
	padding-top: 120px;
	padding-bottom: 60px;
}
#advantages .text {
	text-shadow: 1px 3px 3px rgba(110, 108, 112, 0.3);
}

#advantages a {
	width: 348px;
	height: 348px;
	display: inline-block;
	margin-top: 55px;
	outline: none;
}

#rp1 {
	background-image: url("images/rp_1.png");
}
#rp1:hover {
	background-image: url("images/rp_1_hover.png");
}
#rp2 {
	background-image: url("images/rp_2.png");
}
#rp2:hover {
	background-image: url("images/rp_2_hover.png");
}
#rp3 {
	background-image: url("images/rp_3.png");
}
#rp3:hover {
	background-image: url("images/rp_3_hover.png");
}

#footer {
	line-height: 1.3;
	color: white;
	width: 100%;
	height: 233px;
	font-family: 'Akrobat-Bold';
	font-size: 30px;
	min-width: 1170px;
	background: #2b005c url('images/footer_top.png');
}

#footer .left {
	padding-left: 4px;
	box-sizing: border-box;
	width: 65%;
	height: 100%;
	float: left;
}
#footer .right {
	text-align: right;
	padding-right: 7px;
	box-sizing: border-box;	
	width: 35%;
	height: 100%;
	float: right;
}
#info {
	font-family: 'Bank Sans';
	font-size: 14;
	color: #765aa8;
	width: 100%;
	min-width: 1170px;
	height: 43px;
	line-height: 47px;
	background: #24004d url('images/footer_bottom.png');
	overflow: hidden;
}
.wrapper:after {
	content: "";
	display: table;
	clear: both;
}
#info .left {
	box-sizing: border-box;
	padding-left: 4px;	
	width: 35%;
	height: 100%;
	float: left;
}
#info .right {
	box-sizing: border-box;	
	padding-right: 7px;	
	width: 65%;
	height: 100%;
	text-align: right;
	float: right;
}
#footer .media-link {
	margin-top: 8px;
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	outline: none;
}
#vk {
	background-image: url('images/VK.png');	
}
#vk:hover {
	background-image: url('images/VK_hover.png');
}
#inst {
	background-image: url('images/Instagram.png');
}
#inst:hover {
	background-image: url('images/Instagram_hover.png');
}

#house {
	width: 100%;
	height: 850px;
	min-width: 1170px;
	background-image: url('images/House.png');
	background-position: center -5px;
	background-repeat: no-repeat;
}
#house-wrap {
	overflow: hidden;
	width: 1170px;
	height: 750px;
	margin: 0 auto;
	padding-right: 1px;
}

#first {
	width: 232px;
	height: 56px;
	background-image: url('images/house_19.png');
}
#first:hover {
	background-image: url('images/house_19_hover.png');
}
#second {
	width: 184px;
	height: 52px;
	background-image: url('images/house_03.png');
}
#second:hover {
	background-image: url('images/house_03_hover.png');
}
#third {
	width: 276px;
	height: 59px;
	background-image: url('images/house_25.png');
}
#third:hover{
	background-image: url('images/house_25_hover.png');
}
#fourth {
	width: 171px;
	height: 53px;
	background-image: url('images/house_06.png');
}
#fourth:hover {
	background-image: url('images/house_06_hover.png');
}
#fifth {
	width: 244px;
	height: 56px;
	background-image: url('images/house_14.png');
}
#fifth:hover {
	background-image: url('images/house_14_hover.png');
}
#sixth {
	width: 176px;
	height: 56px;
	background-image: url('images/house_22.png');
}
#sixth:hover {
	background-image: url('images/house_22_hover.png');
}
#seventh {
	width: 317px;
	height: 55px;
	background-image: url('images/house_11.png');
}
#seventh:hover {
	background-image: url('images/house_11_hover.png');
}
#email {
	text-decoration: underline;
	color: white;
	outline: none;
}

#gallery {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
}

#gallery .closezone {
	width: 100%;
	height: 100%;
	color: grey;
	transition: 0.15s linear;
}
#gallery .closezone:hover {
	cursor: pointer;
	color: white;
}

.mySlides {
	display: none;
}

#g1, #g2, #g3 {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 800px;
	height: 600px;
	position: fixed;
	display: none;
	background-color: white;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	background-color: rgba(0, 0, 0, 0.5);
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
.closebutton {
	position: fixed;
	top: 15px;
	right: 20px;
	font-size: 40px;
}
.mySlides span:hover {
	text-decoration: underline;
}
